:root {
  --font-body--family: "ApercuPro", sans-serif;
  --font-heading--family: "argent-cf", sans-serif;

  --font-paragraph--family: "ApercuPro", sans-serif;
  --font-button--family: "ApercuPro", sans-serif;
  --font-input--family: "ApercuPro", sans-serif;

  --font-h1--family: "argent-cf", sans-serif;
  --font-h2--family: "argent-cf", sans-serif;
  --font-h3--family: "argent-cf", sans-serif;
  --font-h4--family: "argent-cf", sans-serif;
}
